<!--<p>profile-page works!</p>-->
<!--<app-sidebar></app-sidebar>-->
<app-navbar></app-navbar>

<div class="wrapper">
  <div class="Profile">
    Profile
  </div>
  <div class="CurrentPlan">
    Current Plan
    <button class="btn btn-primary" (click)="initPay()" >Subscribe With Razorpay</button>
  </div>
  <div class="CurrentCredit">
    <button class="btn btn-primary" (click)="fetchSubscription()" >fetchSubscription</button>
    <button class="btn btn-primary" (click)="createSubscription()" >Create SUb</button>
    Current Credit
  </div>

</div>



