
<div class="mycontainer">
  <div class="videoplayer">
    <app-vjs-player  [options]="{fluid: true , autoplay: false, controls: true, sources: [{ src: 'http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4', type: 'video/mp4' }]}"></app-vjs-player>
  </div>

  <div class="transacriptContainer">
    <div class="transacript" #transcript contenteditable="true" ></div>
  </div>
  <button class="btn-primary" (click)="MyOnclik()">Click me</button>
  <button class="btn-primary" (click)="GetID()">Get ID</button>
  <button class="btn-primary" (click)="GetSRT()">Get SRT</button>
</div>
<!--<div *ngFor="let data of returnString.">-->
<!--  <p>{{data}}</p>-->
<!--</div>-->


