
<div class="mycontainer">
  <div class="videoplayer">

     <iframe  src="https://www.youtube.com/embed/WUgvvPRH7Oc"
              frameborder="0"
              allow="accelerometer;
              autoplay; encrypted-media;
              gyroscope; picture-in-picture" allowfullscreen
              style="-webkit-transform: scale(1.3); padding-top: 7vh"
     ></iframe>
  </div>

  <div class="transacriptContainer">
    <div class="transacript" #transcript contenteditable="true" ></div>
  </div>
  <button class="btn-primary" (click)="MyOnclik()">Click me</button>
  <button class="btn-primary" (click)="GetID()">Get ID</button>
</div>
<!--<div *ngFor="let data of returnString.">-->
<!--  <p>{{data}}</p>-->
<!--</div>-->


