
<div class="mycontainer">
  <div class="videoplayer">
    <app-vjs-player  [options]="{fluid: true , autoplay: false, controls: true, sources: [{ src: 'http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4', type: 'video/mp4' }]}"></app-vjs-player>
  </div>

  <div class="transacriptContainer">
    <div class="transacript" #transcript contenteditable="true" ></div>
  </div>
  <div class="controls">
    <button type="button" class="btn btn-primary loadTranscript" (click)="MyOnclik()">Click me</button>
    <button type="button" class="btn btn-primary getid" (click)="GetID()">Get ID</button>
    <button type="button" class="btn btn-primary getsrt" (click)="GetSRT()">Get SRT</button>
  </div>

</div>



