<nav>
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
    <i class="fas fa-bars"></i>
  </label>
  <label class="logo">DesignX</label>
  <ul>
    <li><a routerLink="/dashboard" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/videotext" routerLinkActive="active">Convert To TExt</a></li>
    <li><a routerLink="/first-component" routerLinkActive="active">Services</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#">Feedback</a></li>
  </ul>
</nav>
