.editing {
  display: grid;
  padding: 1rem;
  grid-column-gap: 5px;
  grid-row-gap: 50px;
  background-color: cornflowerblue;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: " textEditor textEditor textEditor textEditor videoEditor videoEditor videoEditor ";

}
.textEditor{
  /*grid-column: 1/3 ;*/
  grid-row: 1;
  border-style: groove;
  height: 60vh;
  background-color: brown;
  grid-area: textEditor;

}
.videoEditor{
  /*grid-column: 3 / 4;*/
  grid-row: 1;
  border-style: groove;
  height: 58vh;
  background-color: black;
  grid-area: videoEditor;
}
.sidebar{

  grid-area: sidebar;
}

.output{
  background-color: antiquewhite;
}

@media only screen and (max-width: 550px){
  .editing {
    display: grid;
    padding: 1rem;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    background-color: cornflowerblue;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-areas: "videoEditor videoEditor"
                          "textEditor textEditor";
  }
  .textEditor{
    /*grid-column: 1/3 ;*/
    grid-row: 1;
    border-style: groove;
    height: 60vh;
    background-color: brown;
    grid-area: textEditor;
    width: 80vh;

  }
  .videoEditor{
    /*grid-column: 3 / 4;*/
    grid-row: 1;
    border-style: groove;
    height: 60vh;
    background-color: black;
    grid-area: videoEditor;
    width: 80vh;
  }

  .output{
    background-color: antiquewhite;
  }


}
