
<body>
<input type="checkbox" id="check">
<label for="check">
  <i class="fas fa-bars" id="btn"></i>
  <i class="fas fa-times" id="cancel"></i>
</label>
<div class="sidebar">
  <header><a class="header-kyrose" href="index.html">Kyrose</a></header>
  <ul>
    <li><a href="#">Dashboard</a></li>
    <li><a href="#">My Profile</a></li>
    <li><a href="#">Video To Text</a></li>
    <li><a href="#">Text To Audio</a></li>
    <li><a href="#">Log Out</a></li>
    <!--
    <li><a href="#">Services</a></li>
    <li><a href="#">Contact</a></li>
    -->
    Made with ❤ in India
  </ul>
</div>
<section></section>
</body>
